@model IdentityRole

@{
    if (!(Model is not null)) { throw new NullReferenceException(); }
}

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control input" autofocus/>
    <p><span asp-validation-for="Name" class="text-danger"></span>&nbsp;</p>
    <input type="hidden" class="form-control input" asp-for="ConcurrencyStamp" />
</div>
