@model string

@if (!String.IsNullOrEmpty(Model))
{
    var isError = Model.StartsWith("Error", StringComparison.OrdinalIgnoreCase)
        || Model.Contains("失敗", StringComparison.OrdinalIgnoreCase)
        || Model.Contains("エラー", StringComparison.OrdinalIgnoreCase);
    var statusMessageClass = isError ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model
    </div>
}
