@page
@model LockoutModel
@{
    ViewData["Title"] = "ロックアウト";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">一定回数の失敗によりアカウントが一時的にロックされました。しばらくしてから再度お試しください。</p>
</header>
