@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "登録確認";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    現在、実際のメール送信設定がされていません。メール送信の設定方法は <a href="https://aka.ms/aspaccountconf">こちら</a> を参照してください。<br />
    暫定的に次のリンクからアカウントを確認できます: <a id="confirm-link" href="@Model.EmailConfirmationUrl">アカウントを確認する</a>
</p>
    }
    else
    {
<p>
        アカウント確認メールを送信しました。メールをご確認ください。
</p>
    }
}

